<div class=" container my-5">
    <div class="d-flex justify-content-between">
        <div>
            <h3>Popular Collection</h3>
        </div>
        <div>
            <a href=""> Show All</a>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-md-3 col-sm-6 pb-3 my-4" *ngFor="let book of books">
            <div class="card shadow-sm " >
                <img class="" src="images/cover1.jpg" style="height:200px; width:150px" alt="Card image cap">
                <div class="card-body">
                    <!-- <h5 class="card-title">{{books}}</h5> -->
                     <div class="text-center">
                        <a href="#" class="btn btn-primary">Read More</a>

                     </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-warning" >Load More</button>
        </div>
    

</div>