.card {
  width: 170px;
  height: 100;
  cursor: pointer;
  text-align: center;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;

}

.btn {
  background-color: #f87f27;
  margin-right: 10px;
}

.container{
  padding: 50px 0px;
}