<h3 class="text-center mt-5">story name</h3>

<div class="container">
    <h4 class="pb-3">Cahpter name</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus, felis vel feugiat varius, nunc nunc semper arcu, vel elementum mauris nunc et velit. Nulla facilisi. Nullam at nunc sit amet turpis congue laoreet. Donec vel neque et velit pharetra mollis. Donec auctor, sapien eu tristique consectetur, felis lectus scelerisque odio, id tristique purus velit vel enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati alias in assumenda quisquam deleniti corporis vero, labore vitae minima accusantium voluptate velit vel sunt incidunt, eius odio. Quae, ipsa corrupti!</p>
</div>
<div class="text-center">
    <button class="btn mx-3"><i class="fa-solid fa-arrow-left"></i></button>
    <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
</div>

