<div class="container-fluid footer text-center">
<div class=" container-fluid row mt-3">
    <div class="col-md-3 align-content-center">
        <img src="images/book-logo1.png" class="img-fluid" style="height: 70px; width: 70px;"  alt="">
        <p class="logo-text"> Rewayati </p>
    </div>
    <div class="col-md-3">
        <h5>Quick Link</h5>
        <ul>
            <li>link1</li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
        </ul>
    </div>
    <div class="col-md-3 contact">
        <h5>Contact Us</h5>
        <p>Email:  <a href="mailto:email@example.com">example&gmail.com</a></p>
        <p>Phone:  +1 123 456 7890</p>
    </div>
    <div class="col-md-3 social text-start">
        <h5 class="text-center ">Social Media</h5>
        <a href="#"><i class="fab fa-facebook-square ps-5"></i> facebook.com/rewayati</a>
        <a href="#"><i class="fab fa-twitter-square ps-5"></i> twitter.com/rewayati</a>
        <a href="#"><i class="fab fa-instagram-square ps-5"></i>instagram.com/rewayati</a>
        <a href="#"><i class="fab fa-linkedin ps-5"></i> linkedin.com/rewayati</a>
    </div>
</div>

</div>