<section>
  <div class="banner shadow mb-5">
    <div class="row py-2 container">
      <div class="col-md-7 align-content-center ps-4">
        <h1 class="py-3"> Write Something here</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Nihil error quam ab eligendi veritatis, cupiditate eius molestiae beatae repellendus 
          rerum laudantium blanditiis ut officiis fugiat reiciendis debitis assumenda, dolores a!
        </p>
      </div>
      <div class="col-md-5 align-content-center ">
        <img src="images/book2.png" class="img-fluid "  alt="books" />
      </div>
    </div>
  </div>

  <div class="container my-5">
    <app-category-carousel></app-category-carousel>
  </div>

  <div class="container my-5">
    <app-advertisments></app-advertisments>
  </div>

  <div class="container">
    <app-book-collection></app-book-collection>
  </div>

</section>
